@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

.midpage2{
    width: Hug (1,452px)px;
height: Hug (659px)px;
top: 1499.14px;
left: -164.04px;
padding: 0px 4px 0px 4px;
gap: 32px;
opacity: 0px;

}